@page
@model BlazorAcademyHWApp.Pages.DisciplinePages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Discipline</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Discipline.Name" class="control-label"></label>
                <input asp-for="Discipline.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Discipline.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discipline.TeacherId" class="control-label"></label>
                <input asp-for="Discipline.TeacherId" class="form-control" />
                <span asp-validation-for="Discipline.TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discipline.Teacher" class="control-label"></label>
                <input asp-for="Discipline.Teacher" class="form-control" />
                <span asp-validation-for="Discipline.Teacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discipline.Credits" class="control-label"></label>
                <input asp-for="Discipline.Credits" class="form-control" />
                <span asp-validation-for="Discipline.Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
